<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQToSQLProject.Properties.Settings.eGameDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=eGameDB;Persist Security Info=True;User ID=archiefan;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>